// Colours
$bodyColour: #312424;
$headingColour: darken($bodyColour, 5%);
$linkColour: #c00000;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #ffddc8;
$codeBackgroundColour: darken($backgroundColour, 5%);
